calvin{
    text-align: center
    font-family: Arial
    font-size: 24px
    font-weight: bolder
    font-variant: small-caps
    font-style: italic
    line-height: 16px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}